
//-------------------------
//SCREEN SIZES
//-------------------------
$w0: 280px; //Really small phone
$w1: 320px; //iPhone SE, 5 and 4
$w2: 414px; //iPhone 6 plus
$w3: 768px; //iPad 
$w4: 992px; //Tablet(?)
$w5: 1200px; //Small laptop
$w6: 1440px; //Desktop
//-----------------------
//MIN VARIABLES
//-----------------------
$w2min: $w2 - 1px;
$w3min: $w3 - 1px;
$w4min: $w4 - 1px;
$w5min: $w5 - 1px;
$w6min: $w6 - 1px;