//======================
//03 - GRID SYSTEMS
//======================
$colNumber: 24; //Number of responsive columns
$contExtraLeftRightMargin: 60px; //container extra margin on desktop screens. ONLY PIXELS. 
$gGutter: 0.5rem; //default gutter
$gTabletGutter: 0.75rem; //gutter for tablets
$gDesktopGutter: 1rem; //gutter for desktop screens
//======================
//04 - RESPONSIVE MARGINS AND PADDINGS
//======================
//-------------------------------
//MARGINS SETTINGS
//-------------------------------
$stepsMargin: 10;
$intervalMargin: 0.25rem;
$firstMargin: 0;
$marginsTabletMultiplyFactor: 0.25;
$marginsDesktopMultiplyFactor: 0.5;
//-------------------------------
//PADDINGS SETTINGS
//-------------------------------
$stepsPadding: 10;
$intervalPadding: 0.25rem;
$firstPadding: 0;
$paddingsTabletMultiplyFactor: 0.25;
$paddingsDesktopMultiplyFactor: 0.5;
