//-----------------------------
//ELEMENTS
//-----------------------------

.accordion-group__accordion {
  @include margin($accordion-group__accordion--margin);
}

.accordion-group__accordion-head {
  //
}

.accordion-group__accordion-heading {
  @include margin($accordion-group__accordion-heading--margin);
}

.accordion-group__accordion-btn {
  background-color: $accordion-group__accordion-btn--background-color;

  @include border($accordion-group__accordion-btn--border);

  color: #000;
  display: block;

  @include font($accordion-group__accordion-btn--font);
  @include padding($accordion-group__accordion-btn--padding);
  @include text($accordion-group__accordion-btn--text);
  @include sizes($accordion-group__accordion-btn--sizes);

  &:focus {
    background-color: $accordion-group__accordion-btn_focus--background-color;

    @include border($accordion-group__accordion-btn_focus--border);
  }
}

.accordion-group__accordion-panel {
  @include border($accordion-group__accordion-panel--border);
  @include padding($accordion-group__accordion-panel--padding);
}
