@mixin align-content($value) {
  -webkit-align-content: $value;
  align-content: $value;
}
@mixin align-items($value) {
  -webkit-align-items: $value;
  align-items: $value;
}

/*
@mixins align-self ($value) {
  -webkit-align-self: $value;
  align-self: $value;
}*/

@mixin backface-visibility($visibility) {
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  backface-visibility: $visibility;
}
@mixin backdrop-filter ($filter) {
  -webkit-backdrop-filter: $filter;
  backdrop-filter: $filter;
}
@mixin border-image ($borderImage) {
  -webkit-border-image: $borderImage;
  -moz-border-image: $borderImage;
  -o-border-image: $borderImage;
  border-image: $borderImage;
}
@mixin box-shadow($boxShadow) {
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
}

@mixin background-gradient ($gradient) {
  //always define a fallback background-color when using this mixin
  background: -webkit-linear-gradient($gradient);
  background: -o-linear-gradient($gradient);
  background: -moz-linear-gradient($gradient);
  background: linear-gradient($gradient);
}
@mixin border ($borderStyle, $borderWidth, $borderColor, $borderRadius) {
  @if $borderColor !=transparent {
    border-color: $borderColor;
  }
  @extend %border-style-#{$borderStyle};
  @if $borderRadius > 0 {
    border-radius: $borderRadius;
  }
  @if $borderWidth > 0 {
    border-width: $borderWidth;
  }
}
@mixin column-count ($columnCount) {
  -webkit-column-count: $columnCount;
  -moz-column-count: $columnCount;
  column-count: $columnCount;
}
@mixin column-design ($columGap, $columnWidth, $columnRuleType, $columnRuleWidth, $columnRuleColor) {
  -webkit-column-gap: $columGap;
  -moz-column-gap: $columGap;
  column-gap: $columGap;
  //
  -webkit-column-width: $columnWidth;
  -moz-column-width: $columnWidth;
  column-width: $columnWidth;
  //
  -webkit-column-rule: $columnRuleWidth $columnRuleType $columnRuleColor;
  -moz-column-rule: $columnRuleWidth $columnRuleType $columnRuleColor;
  column-rule: $columnRuleWidth $columnRuleType $columnRuleColor;
}
@mixin filter ($filter) {
  -webkit-filter: $filter;
  filter: $filter;
}
@mixin perspective ($length, $origin) {
  -webkit-perspective: $length;
  -moz-perspective: $length;
  perspective: $length;
  -webkit-perspective-origin: $origin;
  -moz-perspective-origin: $origin;
  perspective-origin: $origin;
}
@mixin placeholder-color ($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
}
@mixin tab-size ($value) {
  -moz-tab-size: $value;
  -o-tab-size: $value;
  tab-size: $value;
}
@mixin scale($ratioX, $ratioY) {
  -webkit-transform: scale($ratioX, $ratioY);
  -moz-transform: scale($ratioX, $ratioY);
  -ms-transform: scale($ratioX, $ratioY);
  -o-transform: scale($ratioX, $ratioY);
  transform: scale($ratioX, $ratioY);
}
@mixin scaleX($ratio) {
  -webkit-transform: scaleX($ratio);
  -moz-transform: scaleX($ratio);
  -ms-transform: scaleX($ratio);
  -o-transform: scaleX($ratio);
  transform: scaleX($ratio);
}
@mixin scaleY($ratio) {
  -webkit-transform: scaleY($ratio);
  -moz-transform: scaleX($ratio);
  -ms-transform: scaleY($ratio);
  -o-transform: scaleY($ratio);
  transform: scaleY($ratio);
}
@mixin skew($x, $y) {
  -webkit-transform: skewX($x) skewY($y);
  -moz-transform: skewX($x) skewY($y);
  -ms-transform: skewX($x) skewY($y); // See https://github.com/twbs/bootstrap/issues/4885; IE9+
  -o-transform: skewX($x) skewY($y);
  transform: skewX($x) skewY($y);
}
@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin translateZ($z) {  
  -webkit-transform: translateZ($z); 
  -moz-transform: translateZ($z);
  -ms-transform: translateZ($z);
  -o-transform: translateZ($z);
  transform: translateZ($z);
}
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -ms-transform: translate3d($x, $y, $z);
  -o-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}
@mixin rotateX($degrees) {
  -webkit-transform: rotateX($degrees);
  -moz-transform: rotateX($degrees);
  -ms-transform: rotateX($degrees);
  -o-transform: rotateX($degrees);
  transform: rotateX($degrees);
}
@mixin rotateY($degrees) {
  -webkit-transform: rotateY($degrees);
  -moz-transform: rotateY($degrees);
  -ms-transform: rotateY($degrees);
  -o-transform: rotateY($degrees);
  transform: rotateY($degrees);
}
@mixin multiple-transform ($transformations) {
  -webkit-transform: $transformations;
  -moz-transform: $transformations;
  -ms-transform: $transformations;
  -o-transform: $transformations;
  transform: $transformations;
}

@mixin perspective($perspective) {
  -webkit-perspective: $perspective;
  -moz-perspective: $perspective;
  perspective: $perspective;
}
@mixin perspective-origin($perspective) {
  -webkit-perspective-origin: $perspective;
  -moz-perspective-origin: $perspective;
  perspective-origin: $perspective;
}
@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -o-transform-origin: $origin;
  transform-origin: $origin;
}
@mixin transition ($property, $seconds, $easing) {
  -webkit-transition: $property $seconds $easing;
  -moz-transition: $property $seconds $easing;
  -o-transition: $property $seconds $easing;
  transition: $property $seconds $easing;
}
@mixin double-transition ($property1, $seconds1, $easing1, $property2, $seconds2, $easing2) {
  -webkit-transition: $property1 $seconds1 $easing1, $property2 $seconds2 $easing2;
  -moz-transition: $property1 $seconds1 $easing1, $property2 $seconds2 $easing2;
  -o-transition: $property1 $seconds1 $easing1, $property2 $seconds2 $easing2;
  transition: $property1 $seconds1 $easing1, $property2 $seconds2 $easing2;
}
@mixin triple-transition ($property1, $seconds1, $easing1, $property2, $seconds2, $easing2, $property3, $seconds3, $easing3) {
  -webkit-transition: $property1 $seconds1 $easing1, $property2 $seconds2 $easing2, $property3 $seconds3 $easing3;
  -moz-transition: $property1 $seconds1 $easing1, $property2 $seconds2 $easing2, $property3 $seconds3 $easing3;
  -o-transition: $property1 $seconds1 $easing1, $property2 $seconds2 $easing2, $property3 $seconds3 $easing3;
  transition: $property1 $seconds1 $easing1, $property2 $seconds2 $easing2, $property3 $seconds3 $easing3;
}
@mixin text-selection-color ($color) {
  &::selection {
    background: $color;
  }
  &::-moz-selection {
    background: $color;
  }
}
